.flex {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #a9ff03;
}

h2 {
  font-size: 1.25rem;
  color: #c58fff;
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.15rem;
}
@media only screen and (max-width: 1000px) {
  h3 {
    font-size: 0.9rem;
  }
}

h4 {
  font-size: 1.01rem;
}

p {
  font-size: 1rem;
  font-weight: lighter;
}
@media only screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
  }
}

button, .btn--secondary, input[type=submit] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(248, 242, 242);
  text-transform: capitalize;
  background-color: #c58fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover, .btn--secondary:hover, input[type=submit]:hover {
  background-color: #FFF9F5;
  color: #21312A;
}
@media only screen and (max-width: 1000px) {
  button, .btn--secondary, input[type=submit] {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.btn--secondary {
  background-color: #a9ff03;
}

.btn--small {
  font-size: 0.8rem;
  padding: 0.3rem;
  font-weight: bold;
}

.btn--white {
  background-color: rgb(248, 242, 242);
  color: #21312A;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; /*{ Read thissssssssssssssss} */
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
}
ul li {
  font-size: 1rem;
}
@media only screen and (max-width: 1000px) {
  ul li {
    font-size: 1rem;
  }
}

hr {
  margin: 2rem auto;
  color: #c58fff;
  border: 1px solid #c58fff;
  width: 80%;
}
@media only screen and (max-width: 1000px) {
  hr {
    margin-block: 1rem;
  }
}

.error {
  color: red;
}

.error--background {
  background-color: red;
}

.success {
  color: #c58fff;
}

.loader {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .container {
    padding-block: 1.5rem;
  }
}

.homepage {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-block: 2rem;
  gap: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
}
.homepage aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .homepage aside {
    display: none;
  }
}
.homepage aside .nav--card, .homepage aside ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #c58fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.homepage aside .nav--card li, .homepage aside .nav--card a, .homepage aside ul li, .homepage aside ul a {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms;
}
.homepage aside .nav--card li .icon, .homepage aside .nav--card a .icon, .homepage aside ul li .icon, .homepage aside ul a .icon {
  color: rgb(248, 242, 242);
}
.homepage aside .nav--card li:hover, .homepage aside .nav--card a:hover, .homepage aside ul li:hover, .homepage aside ul a:hover {
  background-color: rgb(248, 242, 242);
  color: #c58fff;
}
.homepage aside .nav--card li:hover .icon, .homepage aside .nav--card a:hover .icon, .homepage aside ul li:hover .icon, .homepage aside ul a:hover .icon {
  color: #21312A;
}
.homepage main {
  width: 70%;
  border-left: 1px solid rgb(248, 242, 242);
  border-right: 1px solid rgb(248, 242, 242);
  overflow-y: scroll;
}
@media only screen and (max-width: 1000px) {
  .homepage main {
    width: 100%;
    border: none;
  }
}
@media only screen and (max-width: 1000px) {
  .homepage {
    width: 100%;
    margin: auto;
    padding: 0;
    margin: 0;
    margin: auto;
    margin-top: 4rem;
  }
}

.profile--card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 2rem;
  background-color: #c58fff;
  border-radius: 0.5rem;
  width: 100%;
}
.profile--card * {
  color: #21312A;
}
.profile--card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logs--section {
  overflow: scroll;
  height: 100vh;
}
.logs--section::-webkit-scrollbar {
  display: none;
}
.logs--section form textarea {
  border: none;
  border-bottom: 1px solid #c58fff;
}
.logs--section form textarea:focus {
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .logs--section form textarea {
    border: 1px solid #c58fff;
  }
}
.logs--section form div:last-child {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.logs--section form div:last-child .icon {
  color: rgb(248, 242, 242);
  font-size: 1.3rem;
}
@media only screen and (max-width: 1000px) {
  .logs--section form div:last-child .icon {
    font-size: 1rem;
  }
}
.logs--section form div:last-child button::first-letter, .logs--section form div:last-child .btn--secondary::first-letter {
  transform: rotate(-30deg);
}
.logs--section .selection--menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #c58fff;
  border-bottom: 1px solid #c58fff;
  padding: 0.5rem;
  background-color: #c58fff;
  margin-block: 1rem;
  display: none;
}
.logs--section .selection--menu h2 {
  color: rgb(248, 242, 242);
  cursor: pointer;
}
.logs--section hr {
  width: 100%;
  margin: 0;
  padding: 0;
}
.logs--section .logs hr {
  width: 50%;
  margin: 0.5rem auto;
}

.log--card {
  width: 80%;
  margin: auto;
  background-color: rgb(65, 63, 63);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 1rem;
  transition: all 300ms;
}
@media only screen and (max-width: 1000px) {
  .log--card {
    width: 100%;
  }
}
.log--card * {
  color: rgb(248, 242, 242);
}
.log--card .title {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.log--card .title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.log--card .log--section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.log--card .log--section img {
  width: 100%;
  max-height: 300px;
}
@media only screen and (max-width: 1000px) {
  .log--card .log--section img {
    max-height: 200px;
  }
}
.log--card div:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.log--card div:nth-child(3) * {
  color: rgb(248, 242, 242);
  font-size: 1rem;
}
@media only screen and (max-width: 1000px) {
  .log--card div:nth-child(3) * {
    font-size: 0.85rem;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 10000;
}
nav div {
  margin-inline: auto;
  padding: 1rem;
  width: 60%;
  margin: auto;
  background-color: rgb(248, 242, 242);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
nav h2 {
  color: #21312A;
}
@media only screen and (max-width: 1000px) {
  nav div {
    width: 100%;
  }
}

.fixed--button {
  position: absolute;
  bottom: 14%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #c58fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 0.5rem;
  margin-inline: 0.5rem;
}
.fixed--button:hover {
  background-color: #21312A;
}
.fixed--button:hover p {
  color: rgb(248, 242, 242);
}
.fixed--button p {
  color: #21312A;
}
@media only screen and (max-width: 1000px) {
  .fixed--button {
    bottom: 10%;
    width: 50px;
    height: 50px;
  }
  .fixed--button p {
    display: none;
  }
}

footer {
  background-color: #FFF9F5;
  padding-block: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}
footer h1 {
  color: #c58fff;
}
footer div {
  font-size: 2rem;
}
footer div * {
  margin-inline: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  footer div {
    font-size: 1.5rem;
  }
  footer div * {
    margin-inline: 0.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  footer {
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
  }
}

.image--modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 50%;
  inset: 0;
  margin: auto;
  margin-top: 3rem;
  background-color: #e5e9fc;
  padding: 3rem;
}
@media only screen and (max-width: 1000px) {
  .image--modal {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    inset: none;
  }
  .image--modal img {
    width: 100%;
    height: 100%;
  }
}

.mobile--nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  background-color: #c58fff;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(248, 242, 242);
  display: none;
}
@media only screen and (max-width: 1000px) {
  .mobile--nav {
    display: flex;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html, body {
  border: none;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  color: #21312A;
  text-align: justify;
  background-color: #181818;
  font-family: "Space Grotesk", "sans-serif";
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0.5rem;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  border: 1px solid #a9ff03;
  border-radius: 0.5rem;
  background-color: rgb(248, 242, 242);
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #a9ff03;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  form {
    width: 100%;
  }
}

input,
select,
textarea {
  width: 90%;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid #c58fff;
  border-radius: 0.3rem;
  color: rgb(248, 242, 242);
  background-color: #181818;
  caret-color: #c58fff;
  resize: none;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #c58fff;
}
@media only screen and (max-width: 1000px) {
  input,
select,
textarea {
    width: 100%;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */