.homepage{
    @include desk-width;
    @include flex-row;
    align-items: flex-start;
    padding-block: $l-pad;
    gap: 1.5rem;
    margin-top: 2.5rem;
    position: relative;

    aside{
        width: 30%;
        @include flex-col;

        @include mobile{
            display: none;
        }
    }

    main{
        width: 70%;
        border-left: 1px solid $default;
        border-right: 1px solid $default;
        overflow-y: scroll;

        @include mobile{
            width: 100%;
            border: none;
        }
    }



    // mobile
    @include mobile{
        @include mobile-width;
        padding: 0;
        margin: 0;
        margin: auto;
        margin-top: 4rem;
    }
}