.homepage{
    @include desk-width;
    @include flex-row;
    align-items: flex-start;
    padding-block: $l-pad;
    gap: 1.5rem;
    margin-top: 2.5rem;
    position: relative;

    aside{
        width: 30%;
        @include flex-col;

        @include mobile{
            display: none;
        }

        .nav--card, ul{
            width: 100%;
            @include flex-col;
            gap: 0.5rem;
            background-color: $primary;
            padding: $s-pad;
            border-radius: $m-border-radius;

            li,a{
                width: 100%;
                @include flex-row;
                justify-content: flex-start;
                font-size: 1.2rem;
                padding: $xs-pad;
                border-radius: $m-border-radius;
                cursor: pointer;
                transition: all 300ms;

                .icon{
                    color: $default;
                }

                &:hover{
                    background-color: $default;
                    color: $primary;

                    .icon{
                        color: $dark;
                    }
                    
                }
            }
        }
    }

    main{
        width: 70%;
        border-left: 1px solid $default;
        border-right: 1px solid $default;
        overflow-y: scroll;

        @include mobile{
            width: 100%;
            border: none;
        }
    }



    // mobile
    @include mobile{
        @include mobile-width;
        padding: 0;
        margin: 0;
        margin: auto;
        margin-top: 4rem;
    }
}