.image--modal{
    @include flex-col;
    justify-content: flex-start;
    position: absolute;
    width: 50%;
    inset: 0;
    margin: auto;
    margin-top: 3rem;
    background-color: $bgColor2;
    padding: 3rem;

    

    @include mobile{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 0;
        inset: none;

        img{
            width: 100%;
            height: 100%;
        }
    }
}