@import './mixins';
.logs--section{
    overflow-y: scroll;

    form{
        // border: 2px solid paleturquoise;
        // box-shadow: 0 5px 5px 0 rgba(0 0 0 / 0.1);
        background-color: $bgColor2;

        button{
            width: 90%
        }
    }

    .selection--menu{
        @include flex-row(space-evenly);
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        padding: $xs-pad;
        background-color: $primary;
        margin-block: $m-margin;
        border-radius: $m-border-radius;

        h2{
            color: $default;
            cursor: pointer;
        }
    }

    .logs{
        hr{
            width: 50%;
            margin: $s-margin auto;

        }
    }
}