.profile--card{
    @include flex-col;
    text-align: center;
    padding-block: $l-pad;
    background-color: $primary;
    border-radius: $m-border-radius;
    width: 100%;

    *{
        color: $dark;
    }

    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}