$primary: #61DB98;
// $default: #FFF;
$default: rgb(248, 242, 242);
$dark: #21312A;
$bgColor: #f7fdff;
$bgColor2: #e5e9fc;
$secondary: #ebffff;
$extras: #FFF9F5;


// paddings
$l-pad: 2rem;
$m-pad: 1.5rem;
$s-pad: 1rem;
$xs-pad: 0.5rem;

// margin
$l-margin: 2rem;
$m-margin: 1rem;
$s-margin: 0.5rem;

// border radius
$l-border-radius: 1rem;
$m-border-radius: 0.5rem;
