@import './variables';
@import './utilities';
@import './mixins';
@import './homepage';
@import './profileCard';
@import './logsSection';
@import './logCard';
@import './nav';
@import './fixedButton';

// reset all to 0
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body{
    border: none;
    line-height: 1.3;
    width: 100%;
    height: 100%;
    color: $dark;
    text-align: justify;
    background-color: $extras;

    ::-webkit-scrollbar{
        // display: none;
        width: 0.5rem;
    }

    ::-webkit-scrollbar-thumb{
        border: 1px solid $secondary;
        border-radius: 0.5rem;
        background-color: $default;
    }

    ::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px $secondary;
    }
}

form{
    width: 100%;
    @include flex-col;
    gap: 1rem;
    padding: $l-pad $s-pad;
    // box-shadow: 0 5px 5px 0 rgba(0 0 0 / 0.2);
    text-align: center;
    border-radius: $m-border-radius;

    @include mobile{
        width: 90%;
    }
}

input, 
select,  
textarea{
    width: 90%;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    border: 1px solid $primary;
    border-radius: 0.3rem;
    color: $secondary;
    caret-color: $primary;
    resize: none;
    
    &:hover{
        border: 1px solid $primary;
    }

    @include mobile(){
        width: 100%;
        font-size: 16px;
    }
}